/* ABOUT-CSS */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600&family=Rancho&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-first {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../public/img/back.png") center center/cover no-repeat;
    width: 100%;
    height: 564px;
    left: 0px;
    top: 106px;
}
.about-second {
    width: 729px;
    height: 299px;
    background: rgba(46, 134, 216, 0.9);
    mix-blend-mode: normal;
    border-radius: 11px;
    ;
}
.about-second h1 {
    font-family: 'Rancho';
    font-weight: 400;
    font-size: 70px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}
.about-second p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
/* MANI-CSS */
.mani-first {
    width: 1510px;
    height: 0px;
    left: 0px;
    top: 749px;
    border: 1px solid #E9E9E9;
    transform: rotate(-0.06deg);
    margin-top: 77px;
}
.mani-first1 {
    height: 0px;
    left: 0px;
    top: 749px;
    border: 1px solid #E9E9E9;
    transform: rotate(-0.06deg);
}
.mani-second h1 {
    font-family: 'Rancho';
    font-weight: 400;
    font-size: 41px;
    line-height: 113px;
    text-align: center;
    color: #000000;
}
/* WATCH-CSS */
.btn button {
    padding: 21px 84px 21px 83px;
    background: none;
    border: 1px solid #005672;
    border-radius: 10px;
    margin: 40px 0px 0px 65px;
}
.watch-first{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-top: 250px;
}
.watch-second{
    margin-left: 190px;
}
.watch-second h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #414040;
    margin-left: 30px;
}
.watch-second p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #414040;
    margin-top: 38px;
    border: none;
}

body {
    margin: auto;
    display: block;
    max-width: 1920px;
}

html {
    overflow-x: hidden;
}

nav {
    background: #005672;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 117px 28px 35px;
}

.nav_item {
    display: flex;
    gap: 44px;
    list-style: none;
}

.nav_link a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background: #E9E9E9;
    padding: 45px 86px;
    gap: 50px;
    margin-top: 100px;
}

.rgba {
    background: rgba(0, 0, 0, 0.307);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-300px);
    /* opacity: 0; */
    /* z-index: -99; */
    transition: all .4s ease-in-out;
    text-align: center;
    padding: 50px 10px 0;
}

.card:hover .rgba {
    transform: translateY(0);
    /* opacity: 1; */
    /* z-index: 99; */

}

.card {
    width: 320px;
    height: 310px;
    overflow: hidden;
    position: relative;
}

.rgba h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.rgba p {
    font-weight: 500;
    font-size: 19px;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #efebebd9;
}

.rgba button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFBFB;
    background: rgba(31, 31, 31, 0.55);
    padding: 12px 31px;
    border: 1px solid #fff;
}

.modalim {
    background: #fff;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px ;
   
}

.flex2 h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;

    color: #000000;
}

.flex2 p {
    font-size: 22px;
    color: #7b7878;
    padding: 30px 0 44px;
}

.flex2 {
    width: 500px; 
    position: relative;
}

.view {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFBFB;
    padding: 11px 58px;
    background: #005672;
}
.flex1 img{
    width: 400px;
    height: 400px;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    font-size: 40px
}
.modal_oynam{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -99;
    transition: all .4s ease-in-out;
}
.modal_oynam.activ{
    opacity: 1;
    z-index: 99;
}