@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600&family=Rancho&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-first {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../public/img/back.png") center center/cover no-repeat;
    width: 100%;
    height: 564px;
    left: 0px;
    top: 106px;
}

.about-second {
    width: 729px;
    height: 299px;
    background: rgba(46, 134, 216, 0.9);
    mix-blend-mode: normal;
    border-radius: 11px;
    ;
}

.about-second h1 {
    font-family: 'Rancho';
    font-weight: 400;
    font-size: 70px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}

.about-second p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

/* MANI-CSS */
.mani-first {
    width: 1510px;
    height: 0px;
    left: 0px;
    top: 749px;
    border: 1px solid #E9E9E9;
    transform: rotate(-0.06deg);
    margin-top: 77px;
}

.mani-first1 {
    height: 0px;
    left: 0px;
    top: 749px;
    border: 1px solid #E9E9E9;
    transform: rotate(-0.06deg);
}

.mani-second {
    margin-top: 30px;
}

.mani-second h1 {
    font-family: 'Rancho';
    font-weight: 400;
    font-size: 41px;
    line-height: 113px;
    text-align: center;
    color: #000000;
}

/* WATCH-CSS */
.btn button {
    padding: 21px 84px 21px 83px;
    background: none;
    border: 1px solid #005672;
    border-radius: 10px;
    margin: 40px 0px 0px 65px;
    transition: all 0.3s ease-in-out;
}

.btn button:hover {
    background: rgba(93, 195, 205, 0.451);
}

.watch-first {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 250px;
}

.watch-second {
    margin-left: 190px;
}

.watch-second h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #414040;
    margin-left: 30px;
}

.watch-second p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #414040;
    margin-top: 38px;
    border: none;
}

body {
    margin: auto;
    display: block;
    max-width: 1440px;
}

html {
    overflow-x: hidden;
}

nav {
    background: #005672;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 117px 28px 35px;
}

.nav_item {
    display: flex;
    gap: 44px;
    list-style: none;
}

.nav_link a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background: #E9E9E9;
    padding: 45px 86px;
    gap: 10px;
    margin-top: 100px;
}

.rgba {
    background: rgba(0, 0, 0, 0.307);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-300px);
    /* opacity: 0; */
    /* z-index: -99; */
    transition: all .4s ease-in-out;
    text-align: center;
    padding: 50px 10px 0;
}

.card:hover .rgba {
    transform: translateY(0);
    /* opacity: 1; */
    /* z-index: 99; */

}

.card {
    width: 320px;
    height: 310px;
    overflow: hidden;
    position: relative;
}

.rgba h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.rgba p {
    font-weight: 500;
    font-size: 19px;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #efebebd9;
}

.rgba button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFBFB;
    background: rgba(31, 31, 31, 0.55);
    padding: 12px 31px;
    border: 1px solid #fff;
}

.modalim {
    background: #fff;
    display: block;
    align-items: center;
    gap: 30px;
    padding: 20px;

}

.modalim2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.flex3 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.flex2 h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;

    color: #000000;
}

.flex2 p {
    font-size: 22px;
    color: #7b7878;
    /* padding: 30px 0 44px; */
    margin-bottom: 25px;
}

.flex2 {
    width: 500px;
    position: relative;
}

.view {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFBFB;
    padding: 11px 58px;
    background: #005672;
}

.flex1 img {
    width: 400px;
    height: 400px;
}

.plusCards {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    font-size: 40px
}

.modal_oynam {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -99;
    transition: all .4s ease-in-out;
}

.modal_oynam.activ {
    opacity: 1;
    z-index: 99;
}

.adress h2 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #5A5A5A;
}

.adress p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 19px;
    line-height: 45px;
    text-transform: capitalize;
    color: #5A5A5A;
}

.adress {
    /* padding: 10px 279px 50px 232px; */
    margin-top: 20px;
}

.button-one {
    margin-top: 30px;
}



.im {
    display: flex;
    align-items: center;
}

.im h1 {

    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: capitalize;
    color: #005672;
}

.lop {
    display: flex;
    padding: 30px;
}

.debyut {
    display: flex;
}

.next {
    text-decoration: none;
    color: #000000;
}

.next:hover {
    color: #CBCF06;
}



.tabl {
    display: flex;
    justify-content: space-between;
    padding: 27px 68px 27px 44px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 600px;
    margin-top: 100px;
}

.tabl p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 4px 0 4px 0;
    color: #5A5A5A;

}

.fl1 img {
    width: 120px;
    height: 130px;
    margin-left: 10px;
    margin-top: 10px;
}

.fl1 img:nth-child(3) {
    height: 180px;
}

.fl1 img:nth-child(2) {
    height: 150px;
}

.pilus {
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid rgba(221, 219, 219, 0.776);
}

.pilus1 {
    padding: 10px 50px;
    font-size: 20px;
    background: none;
    border: 1px solid rgba(221, 219, 219, 0.826);

}

/* .none{
} */
.qty {
    font-size: 30px;
    margin-top: 30px;
}

.btnsd button {
    padding: 10px 30px;
    background: none;
    border: 1px solid black;
    color: #005672;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.btnsd button:nth-child(2) {
    background: #005672;
    color: #fff;
    border: 1px solid #005672;
    margin-left: 20px;

}

.btnsd {
    margin-top: 20px;
}

.paymet {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    margin-top: 148px;
    color: #5A5A5A;
}

.paymet1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 15px; */
    text-transform: capitalize;

    color: #5A5A5A;
}



.strel i {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #5A5A5A;
    /* color: #CBCF06; */
    margin-left: 5px;
    transition: all .3s ease;
}

.strel img {
    padding: 0px 5px 0 5px;
    transform: translateY(4px);
}

.strel {
    margin-top: 30px;
}

.strel i:hover {
    color: #CBCF06;
    cursor: pointer;
}

.qr {
    margin-top: 40px;
    text-align: center;
    border: 1px dashed black;
    padding: 19px 100px;
    width: 600px;
}


.to_katta {
    display: flex;
}



.Happy {
    display: flex;
    gap: 120px;
    padding: 50px;
}

.count {
    display: flex;
}

.happy_coral {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
}

.canvas {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #A5A2A2;
}

.cent {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.capta {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-transform: capitalize;
    color: #A5A2A2;
}

.size {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.details {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

}

.hert {
    display: flex;
    gap: 10px;
}



.button-first {
    padding: 14px 35px 17px 44px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    color: #FFFBFB;
    background: #005672;
    cursor: pointer;
}

.button-firstt {
    padding: 14px 35px 17px 44px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: none;
    background: none;
    color: #CBCF06;
    cursor: pointer;
    text-transform: uppercase;

}

.but {
    width: 237px;
    height: 52px;
    background: #005672;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    color: #FFFBFB;
    margin-top: 20px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.but:hover {
    /* width: 237px;
    height: 52px; */
    border: 1px solid #005672;
    /* font-style: normal; */
    background: white;
    /* font-weight: 700; */
    /* font-size: 15px; */
    /* line-height: 21px; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    color: #005672;

}

.priloj {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.minus,
.plus {
    width: 44.55px;
    height: 49px;
    background: #E9E9E9;
    border: 1px solid #C4C4C4;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #5A5A5A;
    cursor: pointer;
}

.zero {
    width: 140px;
    height: 49px;
    background: white;
    border: 0;
    border: 1px solid #C4C4C4;
}

.add {
    width: 146px;
    height: 36px;
    left: 996px;
    top: 816px;
    background: white;
    border: 1px solid #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #005672;
    cursor: pointer;
}

.hard {
    width: 61px;
    height: 36px;
    left: 1159px;
    top: 816px;
    border: 1px solid #000000;
    background: white;
    cursor: pointer;
}

.trup {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.tex {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #5A5A5A;
}

.and {
    font-style: normal;
}

.flexing {
    display: flex;
}

.hammasi {
    display: flex;
    align-items: center;
    margin: 50px 200px 0px 200px;
    gap: 150px;

}

.absol {
    top: 55px;
    left: 175px;
    background: #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    border-radius: 50%;
    padding: 2px 8px;
    position: absolute !important;
}

.qty111 {
    /* margin-top: 77px; */
}

.fl11 img {
    width: 250px;
    height: 250px;
}
.flexing {
    gap: 40px;
    padding: 73px 40px 89px 41px;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.to_ikki {
    border-left: 2px solid #5A5A5A;
    background: #F5F5F5;
}

.to_bir {
    padding: 16px 0 16px 100px;
}

.to_katta {
    display: grid;
    grid-template-columns: 60% 40%;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 45px 30px 46px 80px;
    /* border-radius: 10px;  */
    /* border-bottom: 1px solid rgb(195, 195, 195); */
}

.total p {
    padding: 15px 0;
}

.amount {
    display: flex;
    justify-content: space-between;
    padding: 45px 130px 46px 90px;
    /* border-radius: 10px; */
    /* width: 650px; */
    border-top: 1px solid rgb(195, 195, 195);
}

.amount h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #5A5A5A;
}

.pay_item img {
    width: 50px;
    height: 20px;

}

.pay_item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pay_logo img {
    width: 100px;
    height: 70px;
}

.pay_item p {
    color: #5A5A5A;
}

.pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    border-bottom: 2px solid #c0c0c0b1;
}

.paaaay {
    width: 600px;
    margin-top: 40px;
    border: 2px solid #c0c0c0b1;
    border-radius: 10px;
}

.credit {
    text-align: center;
    padding: 10px 20px 40px 20px;
    display: flex;
    flex-direction: column;
}

.credit img {
    width: 350px;
    margin-left: 99.999999999999999999999999999999999999px;
}

.credit p {
    color: #7b7878;
}

/* .pay_logo button {
    background: #e9e9e9;
    border: 2px solid #afaeae90;
    border-radius: 50px;
    padding: 10px;
} */

.pay_logo {

    display: flex;
    align-items: center;
    gap: 10px;
}

.pay1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 2px solid #c0c0c0b1;
    border-top: 2px solid #c0c0c0b1;
}

.box_button {
    background: #e9e9e9;
    border: 2px solid #afaeae90;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.box_button.activ {
    background: rgb(0, 98, 255);
}
<<<<<<< HEAD
=======

.pay11 {
    display: block;
    border-radius: 10px;
    border: 1px solid rgb(195, 195, 195);
    width: 600px;

}

.pay_logo1 {
    /* margin-left: 10px; */
    display: flex;
    border-bottom: 1px solid rgb(195, 195, 195);


    padding: 15px 20px;
    gap: 20px;

}

.flex4 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.likes {
    position: absolute;
    background: #f50202d7;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: -190px;
    transform: translateY(-100px);
    transition: all .2s ease;
    border-radius: 20px;
    opacity: 0;
}

.likes.activ {
    opacity: 1;
    transform: translateY(0px);

}

.likes h3 {
    text-align: center;
    padding: 20px 20px;
    font-family: cursive;
}


.close {
    border: none;
}
.menu {
    display: none;
    background: none;
    border: none;
    color: #FFFFFF;
    width: 50px;
    font-size: 23px;
    height: 50px;
}

.int_div input{
   
    border: 1px solid #c8c3c3;
    border-radius: 4px;
    margin: 7px 0;
    font-size: 16px;
}
.int1 h1{
    padding: 50px 0 17px 0;
    font-size: 22px;
    /* font-weight: 400px; */
    color: #5a5a5ad8;
}
.int1 input{
 padding: 14px 350px 14px 20px;
}
.int1 p{
    padding: 0px 0 17px 10px;
    font-size: 18px;
    color: #5a5a5ad8;
}
.int2{
    display: flex;
}
.int2 input{
    padding:  14px 350px 14px 20px;
}












@media(max-width:1400px) {
    .container {
        background: none;
        grid-template-columns: repeat(3, auto);
        text-align: center;
    }
}

@media(max-width:1170px) {
    .watch-first {
        display: block;
        text-align: center;
    }

    .watch-second {
        margin-left: 0;
    }

    .watch-second h1 {
        margin-left: 0;
    }

    .btn button {
        margin: 40px 0;
    }

    .watch-img img {
        border-radius: 20px;
    }
}

@media(max-width:1050px) {
    nav {
        display: block;
        text-align: center;
    }

    .nav_item {
        justify-content: center;
    }

    .nav_link {
        padding: 10px 0;
    }

    .container {
        grid-template-columns: repeat(2, auto);
        text-align: center;
    }
}

@media(max-width:980px) {
    .modalim {
        width: 800px;
    }

    .flex4 {
        display: flex;
        flex-direction: column;
        gap: 0px;
        /* align-items: start; */
        justify-content: center;
    }

    .fl1 {
        text-align: center;
    }

    .none {
        margin-top: 10px;
        text-align: center;
    }

}

@media(max-width:870px) {
    .nav_item {
        opacity: 0;
        transition: all .4s ease-in-out;
        transform: translateX(-700px);
        position: absolute;
        background: #7c7c7c5f;
        backdrop-filter: blur(6px);
        width: 100%;
        padding: 50px;
        display: block;
        height: 400px;
        margin-left: -35px;
    }

    .nav_item.activ {
        opacity: 1;
        transform: translateX(0);
    }

    .menu {
        display: block;
    }

    .nav_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    .mani-second h1 {
        line-height: 40px;
        padding: 20px;
    }
}

@media(max-width:770px) {
    .modalim {
        width: 700px;
        /* height: 1000px; */
    }

    .modalim2 {
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: center;
    }

    .flex1 img {
        width: 300px;
        height: 300px;
    }

    .flex2 hr {
        display: none;
    }

    .flex2 p {
        font-size: 18px;
        text-align: center;
    }

    .flex2 h1 {
        text-align: center;
        font-size: 30px;
    }

    .flex2 h4 {
        text-align: center;
    }

    .close {
        transform: translateY(-270px);
        /* margin-left: 100px; */
    }

    .view {
        padding: 10px 28px;
        margin-left: 120px;
    }

    .card {
        overflow: auto;
    }
}

@media(max-width:750px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}

@media(max-width:700px) {
    .modalim {
        width: 600px;

    }
}

@media(max-width:640px) {
    .watch-img img {
        width: 400px;
    }

    .mani-second {
        padding: 0 30px;
    }
}

@media(max-width:600px) {
    .modalim {
        width: 500px;
    }

    .flex2 p {
        padding: 0 20px;
    }
}

@media(max-width:590px) {

    .nav_logo {
        padding: 0;
    }

    .nav_logo img {
        width: 100px;
    }
}

@media(max-width:530px) {
    .watch-img img {
        width: 300px;
    }
}

@media(max-width:500px) {
    .modalim {
        width: 400px;
    }

    .flex2 p {
        padding: 0 60px;
    }

    .close {
        transform: translateX(-60px);
        /* transform: translateY(270px); */
        margin-top: -200px;
    }
}
>>>>>>> 84680f9026abf166b0ab65e0a2f83725e286338d
